# Root .gitignore
.DS_Store

# Frontend
Frontend/node_modules/
Frontend/.next/
Frontend/out/
Frontend/.env
Frontend/next-env.d.ts

# Backend
Backend/*.db
Backend/*.db-journal
Backend/*.db-shm
Backend/*.db-wal
Backend/*.log
Backend/**/[Bb]in/
Backend/**/[Oo]bj/
Backend/**/.vs/
Backend/**/.vscode/
Backend/**/.local/

# Global
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.dotnet/
.local/
*.tsbuildinfo

# Media and documentation
*.mp4
*.xlsx
*.pdf
Library/
